* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 2rem;
	font-family: sans-serif;
}

.header {
	margin-bottom: 2rem;
}

input[type="text"] {
	width: 26rem;
	padding: 0.5rem;
	font-family: inherit;
	font-size: 1rem;
}

.prompt {
	font-weight: bold;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

#video-url-input {
	margin-left: 1rem;
}

button {
	border: none;
	border-radius: 2px;
	background-color: #888;
	padding: 0.75rem 1.5rem;
	color: white;
	font-family: inherit;
	font-size: 1rem;
	cursor: pointer;
}

button:hover {
	background-color: #aaa;
}

button.primary {
	margin-top: 1rem;
	background-color: #04f;
}

button.primary:hover {
	background-color: #26f;
}

button:disabled,
button:disabled:hover {
	background-color: #ddd;
	color: #888;
	cursor: not-allowed;
}

.options {
	margin-top: 1rem;
}

.options input[type="text"] {
	width: 3rem;
	margin: 0 0.5rem;
	padding: 0.25rem 0.5rem;
}

.custom-radio {
	display: inline-block;
	cursor: pointer;
	margin: 0 0 0.5rem 1rem;
}

.custom-radio input[type="radio"] {
	display: none;
}

.custom-radio .radio-label {
	display: flex;
	align-items: center;
	padding-left: 2rem;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.custom-radio .radio-label::before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 1.2rem;
	height: 1.2rem;
	margin: -0.05rem 0 0 -2rem;
	border: 1px solid #26f;
	border-radius: 50%;
	background-color: white;
	color: white;
	line-height: 1.4rem;
	text-align: center;
	vertical-align: middle;
	font-weight: 700;
}

.custom-radio input[type="radio"]:checked + .radio-label::before, .custom-radio input[type="radio"]:checked + .radio-label:hover::before {
	border: .4rem solid #26f;
	height: 0.61rem;
	width: 0.625rem;
}

.custom-radio:first-of-type {
	margin-top: 0.5rem;
}

.custom-radio:last-of-type {
	margin-bottom: 1rem;
}

hr {
	margin: 1.5rem 0;
	border: none;
	border-top: 1px solid gray;
}

.output {
	animation: outline-fade 2s;
	width: 50%;
	height: 12rem;
	margin-bottom: 1rem;
	padding: 0.5rem;
}

.info {
	border: 1px solid #26f;
	border-radius: 2px;
	margin: 1rem 0;
	padding: 0.5rem 1rem;
	display: inline-block;
}

@keyframes outline-fade {
	0%, 50% {
		box-shadow: 0 0 0.5rem #0b4;
	}
	100% {
		box-shadow: none;
	}
}